@model BisinessCardWebsite.Models.EmailModel
<div class="gradient" style="max-height: 700px; min-height: 700px; margin-top: -16px">
    <div class="gradiented-image" style="max-height: 700px; min-height: 700px;">
        <div class="container">
            <div class="prewiew-container">
                <div class="short-description">
                    <p class="short-desc-name-elem">Hi, my name is Roma</p>
                    <p class="short-desc-elem-red">and I'm a web-developer.</p>
                    <p class="short-desc-name-elem">Website development talking into account the target audience, usability principles and required tasks.</p>
                    <p class="short-desc-name-elem">I'll be glad to help you!</p>
                </div>
                <div class="prewiew-image">
                    <img src="~/img/brain1-removebg-preview.png" />
                </div>
            </div>
            <div class="loader">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
</div>

<section class="custom-section" id="about-me">
    <div class="container">
        <div class="main_block">
            <div class="main_image">
                <div class="clip_frame">
                    <img src="~/img/me.jpg" />
                </div>
            </div>

            <div class="description">
                <p class="name-elem">My name is Shalabodov Roman.</p>
                <p class="desc-elem">I was born and raised in Mogilev, in a city in the east of Belarus. Before getting a developer, I was a regular student in the BSUIR.</p>
                <p class="desc-elem">My professional career as a web developer started 3 years ago when I took a course from NETCRACKER team. After that, I got a job at the National Center of Legal Information.</p>
                <p class="desc-elem">I specialize in creating websites from scratch, including front-end and back-end development.</p>

                <div class="description-quote">
                    "Everything is possible, even the impossible"
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section" id="skills">
    <div class="container">
        <div class="text-center">
            <h1 class="h1-tital-block">My Skills</h1>
        </div>
        <div class="skills-container">
            <div class="skill-block">
                <img class="skill-image" src="~/img/frontend.png" />
                <div class="skill-description">
                    <h2>Frontend</h2>
                    <p>
                        Provide frontend developer services for HTML, CSS, JS. UI development with Angular and TypeScript.
                    </p>
                </div>
            </div>

            <div class="skill-block">
                <img class="skill-image" src="~/img/backend.png" />
                <div class="skill-description">
                    <h2>Backend</h2>
                    <p>
                        Strong knowledge of ASP.NET, ASP.NET Core and C# programming language. Knowledge of OOP and SOLID principles, as well as design patterns.
                    </p>
                </div>
            </div>

            <div class="skill-block">
                <img class="skill-image" src="~/img/database.png" />
                <div class="skill-description">
                    <h2>Database</h2>
                    <p>
                        Necessary skills for engineering and administering databases. Ability to work with MS SQL Server, MySQL, PostgreSQL.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section" id="review">
    <div class="container">
        <div class="text-center">
            <h1 class="h1-tital-block">My Reviews</h1>
        </div>

        <div class="review-container">
            <div class="review-block">
                <img class="review-image" src="~/img/backend.png" />
                <h4 class="review-fio">FirstName LastName</h4>
                <p class="review-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>

            <div class="review-block">
                <img class="review-image" src="~/img/backend.png" />
                <h4 class="review-fio">FirstName LastName</h4>
                <p class="review-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>

            <div class="review-block">
                <img class="review-image" src="~/img/backend.png" />
                <h4 class="review-fio">FirstName LastName</h4>
                <p class="review-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>

            <div class="review-block" id="hidden-review-block">
                <img class="review-image" src="~/img/backend.png" />
                <h4 class="review-fio">FirstName LastName</h4>
                <p class="review-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>

            <div class="review-block" id="hidden-review-block">
                <img class="review-image" src="~/img/backend.png" />
                <h4 class="review-fio">FirstName LastName</h4>
                <p class="review-desc">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contacts">
    <div class="gradient">
        <div class="gradiented-image">
            <div class="container">
                <div class="text-center">
                    <h1 class="h1-tital-block">Contact Me</h1>

                    <div class="response-block" id="response-block">
                        <h3 class="h3-response-message" id="h3-response-message"></h3>
                        <button id="closeBtn" class="btn btn-primary custom-button">Ok</button>
                    </div>

                    <div class="row row-contact-block">
                        <div class="col contacts-block">
                            <h3 class="h3-contacts-block">My contacts</h3>
                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/location-red.png" style="max-width: 20px;" />
                                </div>
                                <div class="contact-item">Belarus, Minsk</div>
                            </div>
                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/phone-red.png" style="max-width: 35px; margin-left: -5px;" />
                                </div>
                                <div class="contact-item">+375(44)758-10-77</div>
                            </div>

                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/email-red.png" style="max-width: 35px; margin-left: -5px;" />
                                </div>
                                <div class="contact-item">shalabodov.roman@mail.ru</div>
                            </div>

                            <div class="social-media">
                                <h3 class="h3-social-media">I'm on social media</h3>
                                <div class="social-icons">

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-instagram instagram"></i>
                                    </a>

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-vk vk"></i>
                                    </a>

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-linkedin linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="col send-email-block">
                            <h3 class="h3-send-email-block">Send me a message</h3>

                            <form id="email_form" novalidate>
                                <div class="text-field">
                                    <input class="text-field__input" id="name" type="text" asp-for="Name" placeholder="Name" autocomplete="off" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="tel" type="tel" asp-for="PhoneNumber" placeholder="Phone Number" autocomplete="off" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="email" type="email" asp-for="EmailAddress" placeholder="Email" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="topic" type="text" asp-for="Topic" name="Topic" placeholder="Topic" autocomplete="off"/>
                                </div>
                                <div class="text-field">
                                    <textarea class="text-field__textarea" id="message" asp-for="Message" name="Message" placeholder="Message"></textarea>
                                </div>

                                <div>
                                    <button type="button" class="send-button" id="submitBtn">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#closeBtn').click(function () {
        var node = document.getElementById('response-block');
        node.style.visibility = 'hidden';
    });

    $(function () {
        $('#tel').mask("+375(99)-999-99-99");
    });

    $(function () {
        $("#submitBtn").click(function () {
            var valid = check_email_form();

            if (valid) {
                var data = $("#email_form").serialize();

                $.ajax({
                    type: 'POST',
                    url: '/Card/SendEmail',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: data,
                    success: function () {
                        var node = document.getElementById('response-block');
                        node.style.visibility = 'visible';
                        document.getElementById('h3-response-message').innerHTML = "The letter was successfully sent. I'll contact you soon";
                        clear_form();
                    },
                    error: function () {
                        var node = document.getElementById('response-block');
                        node.style.visibility = 'visible';
                        document.getElementById('h3-response-message').innerHTML = 'Ops... Something went wrong :(';
                    }
                });
            } else {
                return;
            }
        });
    });

    function check_email_form() {
        var valid_form = true;

        var name = document.getElementById('name');
        if (name.value == '') {
            name.style.border = '1px solid red';
            $('#name').attr('oninput', "on_input(this)");
            valid_form = false;
        }

        var tel = document.getElementById('tel');
        if (tel.value == '') {
            tel.style.border = '1px solid red';
            $('#tel').attr('oninput', "on_input(this)");
            valid_form = false;
        }

        var email = document.getElementById('email');
        if (email.value == '') {
            email.style.border = '1px solid red';
            $('#email').attr('oninput', "on_input_email(this)");
            $('#email').attr('pattern', "[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$");
            valid_form = false;
        }

        var message = document.getElementById('message');
        if (message.value == '') {
            message.style.border = '1px solid red';
            $('#message').attr('oninput', "on_input(this)");
            valid_form = false;
        }

        return valid_form;
    };

    function on_input(elem) {
        console.log(elem.value);
        if (elem.value != '') {
            elem.style.border = '1px solid #bdbdbd';
        } else {
            elem.style.border = '1px solid red';
        }
    };

    function on_input_tel() {

    };

    function on_input_email(elem) {
        if (elem.value != '' && elem.value.match(elem.getAttribute('pattern'))) {
            elem.style.border = '1px solid #bdbdbd';
        } else {
            elem.style.border = '1px solid red';
        }
    };

    function clear_form() {
        document.getElementById('name').value = '';
        document.getElementById('tel').value = '';
        document.getElementById('email').value = '';
        document.getElementById('topic').value = '';
        document.getElementById('message').value = '';
    };
</script>


