@model BisinessCardWebsite.Models.EmailModel

<div class="gradient" style="max-height: 700px; min-height: 700px; margin-top: -16px">
    <div class="gradiented-image" style="max-height: 700px; min-height: 700px;">
        <div class="container">
            <div class="prewiew-container">
                <div class="short-description animation-item-small animation-item-left">
                    <p class="short-desc-name-elem">Hi, my name is Roma</p>
                    <p class="short-desc-elem-red">and I'm a web-developer.</p>
                    <p class="short-desc-name-elem">Website development talking into account the target audience, usability principles and required tasks.</p>
                    <p class="short-desc-name-elem">I'll be glad to help you!</p>
                </div>
                <div class="prewiew-image animation-item animation-item-right">
                    <img src="~/img/brain1-removebg-preview.png" />
                </div>
            </div>
            <div class="loader">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="scrollup">Наверх</a>

<section class="custom-section" id="about-me">
    <div class="container"  style="display: contents;">
        <div class="main_block">
            <div class="main_image animation-item animation-item-left">
                <div class="clip_frame">
                    <img src="~/img/me.jpg" />
                </div>
            </div>

            <div class="description animation-item-small animation-item-right">
                <p class="name-elem">My name is Shalabodov Roman.</p>
                <p class="desc-elem">I was born and raised in Mogilev, in a city in the east of Belarus. Before getting a developer, I was a regular student in the BSUIR.</p>
                <p class="desc-elem">My professional career as a web developer started 3 years ago when I took a course from NETCRACKER team. After that, I got a job at the National Center of Legal Information.</p>
                <p class="desc-elem">I specialize in creating websites from scratch, including front-end and back-end development.</p>

                <div class="description-quote">
                    "Everything is possible, even the impossible"
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section custom-section-dark" id="skills">
    <div class="container custom-container">
        <div>
            <div class="text-center">
                <h1 class="h1-tital-block">My Skills</h1>
            </div>
            <div class="skills-container">
                <div class="skill-block animation-skill animation-skill-frontend">
                    <img class="skill-image" src="~/img/frontend.png" />
                    <div class="skill-description">
                        <h2>Frontend</h2>
                        <p>
                            Provide frontend developer services for HTML, CSS, JS. UI development with Angular and TypeScript.
                        </p>
                    </div>
                </div>

                <div class="skill-block animation-skill animation-skill-backend">
                    <img class="skill-image" src="~/img/backend.png" />
                    <div class="skill-description">
                        <h2>Backend</h2>
                        <p>
                            Strong knowledge of ASP.NET, ASP.NET Core and C# programming language. Knowledge of OOP and SOLID principles, as well as design patterns.
                        </p>
                    </div>
                </div>

                <div class="skill-block animation-skill animation-skill-database">
                    <img class="skill-image" src="~/img/database.png" />
                    <div class="skill-description">
                        <h2>Database</h2>
                        <p>
                            Necessary skills for engineering and administering databases. Ability to work with MS SQL Server, MySQL, PostgreSQL.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="stack-section">
            <div class="technology-stack-container">
                <div class="stack-block">
                    <ul class="custom-bar animation-bar">
                        <li class="axis">
                            <div class="stack-label">Jedi</div>
                            <div class="stack-label">Ninja</div>
                            <div class="stack-label">Geek</div>
                            <div class="stack-label">Newbie</div>
                        </li>
                        <li class="aqua" style="height: 85%; margin: 0;">
                            <div class="percent">
                                85<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/html5.png" />
                            </div>
                            <div class="stack-description">
                                HTML5
                            </div>
                        </li>
                        <li class="pink" style="height: 70%;">
                            <div class="percent">
                                70<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/css3.png" />
                            </div>
                            <div class="stack-description">
                                CSS3
                            </div>
                        </li>
                        <li class="yellow" style="height: 70%;">
                            <div class="percent">
                                70<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/javascript.png" />
                            </div>
                            <div class="stack-description">
                                JavaScript
                            </div>
                        </li>
                        <li class="brown" style="height: 80%;">
                            <div class="percent">
                                80<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/jquery.png" />
                            </div>
                            <div class="stack-description">
                                jQuery
                            </div>
                        </li>
                        <li class="red" style="height: 90%;">
                            <div class="percent">
                                90<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/angular.png" />
                            </div>
                            <div class="stack-description">
                                Angular
                            </div>
                        </li>
                        <li class="green" style="height: 65%;">
                            <div class="percent">
                                65<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/bootstrap.png" />
                            </div>
                            <div class="stack-description">
                                Bootstrap
                            </div>
                        </li>
                        <li class="blue" style="height: 60%;">
                            <div class="percent">
                                60<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/nodejs.png" />
                            </div>
                            <div class="stack-description">
                                Node
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="stack-block">
                    <ul class="custom-bar animation-bar">
                        <li class="axis">
                            <div class="stack-label">Jedi</div>
                            <div class="stack-label">Ninja</div>
                            <div class="stack-label">Geek</div>
                            <div class="stack-label">Newbie</div>
                        </li>
                        <li class="yellow" style="height: 95%; margin: 0;">
                            <div class="percent">
                                95<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/c-sharp.png" />
                            </div>
                            <div class="stack-description">
                                C#
                            </div>
                        </li>
                        <li class="red" style="height: 90%;">
                            <div class="percent">
                                90<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/net-core.png" />
                            </div>
                            <div class="stack-description">
                                .Net Core
                            </div>
                        </li>
                        <li class="aqua" style="height: 70%;">
                            <div class="percent">
                                70<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/java.png" />
                            </div>
                            <div class="stack-description">
                                Java
                            </div>
                        </li>
                        <li class="brown" style="height: 65%;">
                            <div class="percent">
                                65<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/spring.png" />
                            </div>
                            <div class="stack-description">
                                Spring
                            </div>
                        </li>
                        <li class="blue" style="height: 90%;">
                            <div class="percent">
                                90<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/microsoft-sql-server.png" />
                            </div>
                            <div class="stack-description">
                                SQL Server
                            </div>
                        </li>
                        <li class="pink" style="height: 80%;">
                            <div class="percent">
                                80<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/postgresql.png" />
                            </div>
                            <div class="stack-description">
                                PostgreSQL
                            </div>
                        </li>
                        <li class="green" style="height: 85%;">
                            <div class="percent">
                                85<span>%</span>
                            </div>
                            <div class="skill">
                                <img class="stack-skill" src="~/img/github.png" />
                            </div>
                            <div class="stack-description">
                                Github
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="custom-section" id="review">
    <div class="container custom-container">
        <div class="text-center">
            <h1 class="h1-tital-block">My Reviews</h1>
        </div>

        <div class="review-container">
            @*<div class="review-block animation-review">
                <img class="review-image" src="~/img/artyom.jpg" />
                <h4 class="review-fio">Artyom Prokhorov</h4>
                <p class="review-desc">
                    During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                </p>
            </div>*@

            <div class="review-block animation-review">
                <div class="review-block-front">
                    <img class="review-image" src="~/img/artyom.jpg" alt="" />
                    <div class="review-fio">Artyom Prokhorov</div>
                </div>

                <div class="review-block-back">
                    <h4>Artyom Prokhorov</h4>
                    <p>
                        During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                    </p>
                </div>
            </div>
            
            <div class="review-block animation-review">
                <div class="review-block-front">
                    <img class="review-image" src="~/img/artyom.jpg" alt="" />
                    <div class="review-fio">Artyom Prokhorov</div>
                </div>

                <div class="review-block-back">
                    <h4>Artyom Prokhorov</h4>
                    <p>
                        During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                    </p>
                </div>
            </div>
            
            <div class="review-block animation-review">
                <div class="review-block-front">
                    <img class="review-image" src="~/img/artyom.jpg" alt="" />
                    <div class="review-fio">Artyom Prokhorov</div>
                </div>

                <div class="review-block-back">
                    <h4>Artyom Prokhorov</h4>
                    <p>
                        During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                    </p>
                </div>
            </div>
            
            <div class="review-block animation-review">
                <div class="review-block-front">
                    <img class="review-image" src="~/img/artyom.jpg" alt="" />
                    <div class="review-fio">Artyom Prokhorov</div>
                </div>

                <div class="review-block-back">
                    <h4>Artyom Prokhorov</h4>
                    <p>
                        During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                    </p>
                </div>
            </div>
            
            <div class="review-block animation-review">
                <div class="review-block-front">
                    <img class="review-image" src="~/img/artyom.jpg" alt="" />
                    <div class="review-fio">Artyom Prokhorov</div>
                </div>

                <div class="review-block-back">
                    <h4>Artyom Prokhorov</h4>
                    <p>
                        During his work, he proved himself to be a conscientious, purposeful, responsible, qualified and diligent worker. Strives to constantly learn new methods and technologies of programming. Puts them into practice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contacts">
    <div class="gradient">
        <div class="gradiented-image">
            <div class="container last-custom-container">
                <div class="text-center">
                    <h1 class="h1-tital-block">Contact Me</h1>

                    <div class="response-block" id="response-block">
                        <h3 class="h3-response-message" id="h3-response-message"></h3>
                        <button id="closeBtn" class="btn btn-primary custom-button">Ok</button>
                    </div>

                    <div class="row row-contact-block">
                        <div class="col contacts-block animation-contact animation-contact-left">
                            <h3 class="h3-contacts-block">My contacts</h3>
                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/location-red.png" style="max-width: 20px;" />
                                </div>
                                <div class="contact-item">Belarus, Minsk</div>
                            </div>
                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/phone-red.png" style="max-width: 35px; margin-left: -5px;" />
                                </div>
                                <div class="contact-item">+375(44)758-10-77</div>
                            </div>

                            <div class="contact">
                                <div class="contact-image">
                                    <img src="~/img/email-red.png" style="max-width: 35px; margin-left: -5px;" />
                                </div>
                                <div class="contact-item">shalabodov.roman@mail.ru</div>
                            </div>

                            <div class="social-media">
                                <h3 class="h3-social-media">I'm on social media</h3>
                                <div class="social-icons">

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-instagram instagram"></i>
                                    </a>

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-vk vk"></i>
                                    </a>

                                    <a href="#" class="link">
                                        <i class="fa-brands fa-linkedin linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="col send-email-block animation-contact animation-contact-right">
                            <h3 class="h3-send-email-block">Send me a message</h3>

                            <form id="email_form" novalidate>
                                <div class="text-field">
                                    <input class="text-field__input" id="name" type="text" asp-for="Name" placeholder="Name" autocomplete="off" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="tel" type="tel" asp-for="PhoneNumber" placeholder="Phone Number" autocomplete="off" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="email" type="email" asp-for="EmailAddress" placeholder="Email" />
                                </div>
                                <div class="text-field">
                                    <input class="text-field__input" id="topic" type="text" asp-for="Topic" name="Topic" placeholder="Topic" autocomplete="off" />
                                </div>
                                <div class="text-field">
                                    <textarea class="text-field__textarea" id="message" asp-for="Message" name="Message" placeholder="Message"></textarea>
                                </div>

                                <div>
                                    <button type="button" class="send-button" id="submitBtn">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('#closeBtn').click(function () {
        var node = document.getElementById('response-block');
        node.style.visibility = 'hidden';
    });

    $(function () {
        $('#tel').mask("+375(99)-999-99-99", {
            completed: function () {
                document.getElementById('tel').style.border = '1px solid #bdbdbd';
            }
        });
    });

    $(function () {
        $("#submitBtn").click(function () {
            var valid = check_email_form();

            if (valid) {
                var data = $("#email_form").serialize();

                $.ajax({
                    type: 'POST',
                    url: '/Card/SendEmail',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: data,
                    success: function () {
                        var node = document.getElementById('response-block');
                        node.style.visibility = 'visible';
                        document.getElementById('h3-response-message').innerHTML = "The letter was successfully sent. I'll contact you soon";
                        clear_form();
                    },
                    error: function () {
                        var node = document.getElementById('response-block');
                        node.style.visibility = 'visible';
                        document.getElementById('h3-response-message').innerHTML = 'Ops... Something went wrong :(';
                    }
                });
            } else {
                return;
            }
        });
    });

    function check_email_form() {
        var valid_form = true;

        var name = document.getElementById('name');
        if (name.value == '') {
            name.style.border = '1px solid red';
            $('#name').attr('oninput', "on_input(this)");
            valid_form = false;
        }

        var tel = document.getElementById('tel');
        if (tel.value == '') {
            tel.style.border = '1px solid red';
            valid_form = false;
        }

        var email = document.getElementById('email');
        if (email.value == '') {
            email.style.border = '1px solid red';
            $('#email').attr('oninput', "on_input_email(this)");
            $('#email').attr('pattern', "[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,4}$");
            valid_form = false;
        }

        var message = document.getElementById('message');
        if (message.value == '') {
            message.style.border = '1px solid red';
            $('#message').attr('oninput', "on_input(this)");
            valid_form = false;
        }

        return valid_form;
    };

    function on_input(elem) {
        if (elem.value != '') {
            elem.style.border = '1px solid #bdbdbd';
        } else {
            elem.style.border = '1px solid red';
        }
    };

    function on_input_tel(elem) {
        console.log(elem.value);
        if (elem.value != '') {
            elem.style.border = '1px solid #bdbdbd';
        } else {
            elem.style.border = '1px solid red';
        }
    };

    function on_input_email(elem) {
        if (elem.value != '' && elem.value.match(elem.getAttribute('pattern'))) {
            elem.style.border = '1px solid #bdbdbd';
        } else {
            elem.style.border = '1px solid red';
        }
    };

    function clear_form() {
        document.getElementById('name').value = '';
        document.getElementById('tel').value = '';
        document.getElementById('email').value = '';
        document.getElementById('topic').value = '';
        document.getElementById('message').value = '';
    };

    $(document).ready(function () {
        console.log(document.documentElement.clientHeight);
        console.log(document.documentElement.offsetHeight);
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $(window).scroll(function () {
            if ($(this).scrollTop() > 3000) {
                $('.scrollup').css({ 'background': '' });
                $('.scrollup').css({ 'background': 'url(\'../img/icon_top_negate.png\') no-repeat' });
            } else {
                $('.scrollup').css({ 'background': '' });
                $('.scrollup').css({ 'background': 'url(\'../img/icon_top.png\') no-repeat' });
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 0);
            return false;
        });
    });
</script>


