html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.gradient {
    background: linear-gradient(to right,#232B39 40%,#000000 );
}

.gradiented-image {
    background: transparent url(../img/dotted.png) repeat center center;
}

.custom-container {
    padding: 5% 0 0 0;
}

.last-custom-container {
    padding: 5% 0 5% 0;
}

.header-container {
    margin-bottom: auto;
}

.custom-section {
    border-bottom: #dddddd solid 2px;
    box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
}

.custom-section-dark {
    background: #fafafa;
}

.logo {
    margin: auto;
    color: white;
    font-size: 30px;
    font-family: fantasy;
    width: 223px;
    height: 45px;
    cursor: default;
    background: linear-gradient(45deg, deepskyblue, deeppink);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    animation: hue-rotate 1s linear infinite alternate;
}

@keyframes hue-rotate {
    to {
        filter: hue-rotate(90deg);
    }
}

ul.nav {
    text-align: center;
    list-style: none;
}

li.nav-item {
    min-width: 150px;
}

.custom-link {
    color: #fff !important;
    display: inline-block;
    margin-block: 2px;
    text-decoration: none !important;
    position: relative;
}

    .custom-link::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #BF3D37;
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25s ease;
    }

    .custom-link:hover::after {
        transform: scaleX(1);
    }

.custom-nav {
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}

.prewiew-container {
    display: flex;
}

.short-description {
    width: 561px;
    align-self: center;
}

.short-desc-name-elem {
    font-size: 34px;
    line-height: 29px;
    padding-bottom: 10px;
    color: white;
    line-height: 1.2em;
}

.short-desc-elem-red {
    font-size: 30px;
    line-height: 19px;
    padding-bottom: 10px;
    color: #BF3D37;
}

.prewiew-image {
    margin-left: auto;
}

@media (max-width: 992px) {
    .container.header-container {
        justify-content: center;
    }

    .prewiew-image {
        display: none;
    }

    .short-description {
        margin-top: 100px;
    }

    ul.nav {
        display: none;
    }

    .container.custom-container {
        justify-content: center;
    }

    #stack-section {
        display: none;
    }

    .scrollup {
        display: none !important;
    }
}

.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    animation: bounce .5s alternate infinite;
}

    .ball:nth-child(2) {
        animation-delay: .16s;
    }

    .ball:nth-child(3) {
        animation-delay: .32s;
    }

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform: translateY(-50px) scaleX(1);
    }
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 1%;
    display: none;
    text-indent: -9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 1;
}

.main_block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    overflow: hidden;
}

.main_image {
    background: transparent url("../img/dotted.png") repeat left top;
    width: 420px;
    min-width: 420px;
    border-style: solid;
    border-width: 3px;
    border-color: #181A23;
    padding-bottom: 19px;
    margin-top: 84px;
    height: 647px;
    min-height: 647px;
    margin-left: 5%;
}

.clip_frame {
    width: 423px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: -22px;
    left: -35px;
}

.description {
    align-self: center;
    width: 570px;
    min-height: 390px;
    max-height: 642px;
    background-color: transparent;
    font-weight: 400;
    position: relative;
    margin-top: 89px;
    margin-left: 5%;
}

.name-elem {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
}

.desc-elem {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
}

.description-quote {
    color: burlywood;
    text-align: end;
    margin-top: 40px;
    font-size: 25px;
    font-family: auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.skill-block {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-image {
    width: 100px;
    height: 100px;
}

.skill-description {
    width: 230px;
    margin-left: 15px;
}

.review-container {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.stack-block {
    overflow: hidden;
}

.custom-bar {
    list-style: none;
    display: block;
    height: 450px;
    position: relative;
    padding: 0;
    margin: 0px;
    margin-top: 40px;
    background: url(../img/axis.png) repeat-x;
    border-bottom: #dddddd solid 1px;
    overflow-wrap: break-word;
}

    .custom-bar li {
        display: inline-block;
        height: 100%;
        width: 11%;
        background-color: #CCCCCC;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        font-size: 18px;
        font-size: 1.8rem;
        margin: 0 0 0 1.71%;
        border: #BBBBBB solid 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        vertical-align: bottom;
        border-bottom: #BBBBBB solid 1px;
        -webkit-box-shadow: inset 0px 1px 0px 0px rgb(255 255 255 / 60%);
        -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        box-shadow: inset 0px 1px 0px 0px rgb(255 255 255 / 60%);
    }

li.axis {
    width: 8%;
    border: 0;
    margin: 0 1.47% 0 0;
    color: black;
    border-right: #DDD solid 1px;
    height: 450px;
    background: #fafafa;
    -webkit-box-shadow: inset 0 0 0 0 #ffffff;
    -moz-box-shadow: inset 0 0 0 0 #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
}

li.aqua {
    border-color: #8dc5be;
    background-color: #5fb2a8;
    background-image: linear-gradient(#b0dbd6, #5fb2a8);
}

li.pink {
    border-color: #ebc0b5;
    background-color: #e1ae9e;
    background-image: linear-gradient(#f4dcd6, #e1ae9e);
}

li.yellow {
    border-color: #e7af30;
    background-color: #dfae36;
    background-image: linear-gradient(#efc563, #dfae36);
}

li.brown {
    border-color: #dcb386;
    background-color: #bc8e5b;
    background-image: linear-gradient(#dcba83, #bc8e5b);
}

li.red {
    border-color: #e14949;
    background-color: #ca4544;
    background-image: linear-gradient(#da6d6c, #ca4544);
}

li.blue {
    border-color: #5a85ef;
    background-color: #4370e1;
    background-image: linear-gradient(#73cefb, #4370e1);
}

li.green {
    border-color: #60c35a;
    background-color: #4370e1;
    background-image: linear-gradient(#8af384, #40cf38);
}

.stack-label {
    font-size: 1.1rem;
    margin: -0.5em 0 92px 0;
}

.percent {
    position: absolute;
    bottom: 115px;
    width: 100%;
    line-height: 1em;
    font-size: 2.5rem;
}

    .percent span {
        font-size: 1.4rem;
        padding-left: 3px;
    }

.skill {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.stack-skill {
    height: 90px;
}

.stack-description {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 1.2rem;
}

.review-block {
    width: 280px;
    height: 280px;
    position: relative;
    margin: 20px;
}

    .review-block .review-block-front,
    .review-block .review-block-back {
        position: absolute;
        text-align: center;
        width: 280px;
        height: 280px;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(163, 61, 21, 0.200), 0 -5px 15px rgba(115, 55, 212, 0.200);
        transition: transform .4s;
    }

    .review-block .review-block-front {
        background: linear-gradient(to right,#232B39 40%,#000000 );
        border-radius: 0 0 20px 20px;
    }

        .review-block .review-block-front .review-image {
            /*border-radius: 50%;*/
            position: absolute;
            left: 0%;
            width: 280px;
            border-radius: 0 0 20px 20px;
        }

        .review-block .review-block-front .review-fio {
            color: white;
            top: 84%;
            position: relative;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 0 0 20px 20px;
            font-size: 30px;
        }

    .review-block .review-block-back {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: perspective(800px) rotateX(-180deg);
    }

        .review-block .review-block-back p {
            margin: 10px 20px;
            text-align: center;
        }

    .review-block:hover .review-block-front {
        border-radius: 0 0 20px 20px;
        transform: perspective(800px) rotateX(180deg);
    }

    .review-block:hover .review-block-back {
        border-radius: 20px 20px 0 0;
        transform: perspective(800px) rotateX(0);
    }

/*.review-block {
    width: 330px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,#232B39 40%,#000000 );
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

    .review-block:hover {
        animation: pulsate 1s ease-in-out;
    }

@keyframes pulsate {
    0% {
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

.review-image {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 50%;
}

.review-desc {
    color: white;
}*/

.response-block {
    max-width: 500px;
    min-height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    visibility: hidden;
    margin-top: 150px;
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

h3.h3-response-message {
    margin-bottom: 10%;
    margin-top: 10%;
}

.custom-button {
    margin-bottom: 20px;
}

.row-contact-block {
    z-index: 0;
}

.contact-image {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-item {
    background-color: transparent;
    color: white;
    /*    color: black;*/
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    font-weight: 600;
}

.contact {
    display: flex;
    margin-bottom: 90px;
}

.social-media {
    display: block;
    left: 0;
}

h1.h1-tital-block {
    font-size: 3.5rem;
    color: #BF3D37;
}

h3.h3-social-media {
    text-align: start;
    color: white;
    margin-left: 10px;
}

.social-icons {
    display: flex;
}

a.link {
    text-decoration: none;
    color: #b7b7b7;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: transform 0.4s;
}

.link:hover {
    transform: rotate(45deg);
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #373737;
    border-radius: 10px;
    transition: opacity 0.2s;
}

.link:hover::before {
    opacity: 0.4;
}

.link:nth-child(1)::before {
    background: #c32aa3;
}

.link:nth-child(2)::before {
    background: #1da1f2;
}

.link:nth-child(3)::before {
    background: #25d366;
}

.link:hover::before {
    transform: translate(-4px,-4px);
    filter: blur(10px);
}

.link i {
    font-size: 1.7em;
    transition: all 0.4s;
}

.link:hover i {
    color: #c8c8c8;
    transform: rotate(-45deg);
}

    .link:hover i.itstagram {
        color: #c32aa3;
    }

    .link:hover i.vk {
        color: #1da1f2;
    }

    .link:hover i.linkedin {
        color: #25d366;
    }

.text-field {
    margin-bottom: 1rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: rgba(127,127,127,0.2);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__input::placeholder {
        color: #c4c4c4;
        opacity: 0.4;
    }

    .text-field__input:focus {
        color: white;
        background-color: rgba(127,127,127,0.2);
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.text-field__textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: rgba(127,127,127,0.2);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__textarea::placeholder {
        color: #c4c4c4;
        opacity: 0.4;
    }

    .text-field__textarea:focus {
        color: white;
        background-color: rgba(127,127,127,0.2);
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.send-button {
    background-color: #BF3D37;
    color: white;
    width: 100%;
    height: calc(2.25rem + 2px);
    border-radius: 0.7rem;
    border: 1px solid #bdbdbd;
}

    .send-button:hover {
        background-color: darkred;
    }

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

    input.input-validation-error::-webkit-input-placeholder {
        color: #b94a48;
    }

    input.input-validation-error::-moz-placeholder {
        color: #b94a48;
    }

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.send-email-message {
    width: 400px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 100;
}

h3.h3-contacts-block {
    margin-top: 20px;
    margin-bottom: 50px;
    /*color: black;*/
    color: white;
}

h3.h3-send-email-block {
    margin-top: 20px;
    margin-bottom: 50px;
    /*color: black;*/
    color: white;
}

.contacts-block {
    height: 600px;
}

.contacts-block-content {
    background: transparent url(../img/dotted.png) repeat center center;
    min-height: 580px;
}

.send-email-block {
    margin-left: 20px;
}

@media (max-width: 445px) {
    .send-email-block{
        margin-bottom: 20%;
    }
}

.footer-container {
    text-align: center;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #BF3C37;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0px 0px 3px #000 inset;
    background-color: #222A38;
}
