html, body {
    scroll-behavior: smooth;
}

.gradient {
    background: linear-gradient(to right,#232B39 40%,#000000 );
}

.gradiented-image {
    background: transparent url(../img/dotted.png) repeat center center;
}

.custom-container {
    margin-bottom: auto;
}

.custom-section {
    margin-bottom: 50px;
    margin-top: 50px;
}

.logo {
    color: white;
    font-size: 30px;
    font-family: fantasy;
    width: 223px;
    height: 45px;
    cursor: default;
}

ul {
    text-align: center;
}

li {
    min-width: 150px;
}

.custom-nav {
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}

.prewiew-container {
    display: flex;
}

.short-description {
    width: 561px;
    align-self: center;
}

.short-desc-name-elem {
    font-size: 34px;
    line-height: 29px;
    padding-bottom: 10px;
    color: white;
    line-height: 1.2em;
}

.short-desc-elem-red {
    font-size: 26px;
    line-height: 19px;
    padding-bottom: 10px;
    color: #BF3D37;
}

.prewiew-image {
    margin-left: auto;
}

@media (max-width: 992px) {
    .prewiew-image {
        display: none;
    }

    .short-description {
        margin-top: 100px;
    }

    ul.nav {
        display: none;
    }

    .container.custom-container {
        justify-content: center;
    }
}

.loader {
    width: 120px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.ball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    animation: bounce .5s alternate infinite;
}

    .ball:nth-child(2) {
        animation-delay: .16s;
    }

    .ball:nth-child(3) {
        animation-delay: .32s;
    }

@keyframes bounce {
    from {
        transform: scaleX(1.25);
    }

    to {
        transform: translateY(-50px) scaleX(1);
    }
}

.main_block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.main_image {
    background: transparent url("../img/dotted.png") repeat left top;
    width: 420px;
    min-width: 420px;
    border-style: solid;
    border-width: 3px;
    border-color: #181A23;
    padding-bottom: 19px;
    margin-top: 84px;
    height: 647px;
    min-height: 647px;
    margin-left: 5%;
}

.clip_frame {
    width: 423px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: -22px;
    left: -35px;
}

.description {
    align-self: center;
    width: 570px;
    min-height: 390px;
    max-height: 642px;
    background-color: transparent;
    font-weight: 400;
    position: relative;
    margin-top: 89px;
    margin-left: 5%;
}

.name-elem {
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 10px;
}

.desc-elem {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
}

.description-quote {
    color: burlywood;
    text-align: end;
    margin-top: 40px;
    font-size: 25px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.skill-block {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-image {
    width: 100px;
    height: 100px;
}

.skill-description {
    width: 230px;
    margin-left: 15px;
}

.review-container {
    flex-wrap: wrap;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.review-block {
    width: 330px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right,#232B39 40%,#000000 );
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.review-image {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.review-fio {
    color: white;
}

.review-desc {
    color: white;
}

.contact-image {
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-item {
    background-color: transparent;
    color: white;
    /*    color: black;*/
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    font-weight: 600;
}

.contact {
    display: flex;
    margin-bottom: 90px;
}

.social-media {
    display: block;
    left: 0;
}

h1.h1-tital-block {
    font-size: 3.5rem;
    color: #BF3D37;
}

h3.h3-social-media {
    text-align: start;
    color: white;
}

span.span-social-icon {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.social-icons {
    display: flex;
}

.icon-instagram {
    background: url(../img/inst.png) no-repeat;
    display: block;
    position: relative;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.icon-vk {
    background: url(../img/vk.png) no-repeat;
    display: block;
    position: relative;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.text-field {
    margin-bottom: 1rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: rgba(127,127,127,0.2);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__input::placeholder {
        color: #c4c4c4;
        opacity: 0.4;
    }

    .text-field__input:focus {
        color: white;
        background-color: rgba(127,127,127,0.2);
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.text-field__textarea {
    display: block;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: rgba(127,127,127,0.2);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .text-field__textarea::placeholder {
        color: #c4c4c4;
        opacity: 0.4;
    }

    .text-field__textarea:focus {
        color: white;
        background-color: rgba(127,127,127,0.2);
        border-color: #bdbdbd;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }

.send-button {
    background-color: #BF3D37;
    color: white;
    width: 100%;
    height: calc(2.25rem + 2px);
    border-radius: 0.7rem;
    border: 1px solid #bdbdbd;
}

    .send-button:hover {
        background-color: darkred;
    }

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

    input.input-validation-error::-webkit-input-placeholder {
        color: #b94a48;
    }

    input.input-validation-error::-moz-placeholder {
        color: #b94a48;
    }

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.send-email-message {
    width: 400px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 100;
}

h3.h3-contacts-block {
    margin-top: 20px;
    margin-bottom: 50px;
    /*color: black;*/
    color: white;
}

h3.h3-send-email-block {
    margin-top: 20px;
    margin-bottom: 50px;
    /*color: black;*/
    color: white;
}

.contacts-block {
    height: 600px;
}

.contacts-block-content {
    background: transparent url(../img/dotted.png) repeat center center;
    min-height: 580px;
}

.send-email-block {
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #BF3C37;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 0px 0px 3px #000 inset;
    background-color: #222A38;
}
