body {
    background: url(../img/space-bg.jpg) no-repeat;
    overflow: hidden;
}

.custom-container {
    text-align: center;
    height: 100%
}

.error-block {
    margin-top: 200px;
    cursor: default;
}

h1, h2, h3 {
    position: relative;
    margin: auto;
}

h1 {
    z-index: 0;
}

h2, h3, .astronaut {
    z-index: 1;
}

.code {
    font-size: 500px;
    color: #7926ac;
    font-family: fantasy;
    opacity: 0.8;
    position: relative;
}

.houston {
    margin-top: -300px;
    margin-left: -10px;
    color: #f5e57f;
    position: relative;
    font-size: 60px;
    white-space: nowrap;
}

.description {
    color: #fff;
    position: relative;
    font-size: 100px;
    white-space: nowrap;
}

.astronaut {
    position: absolute;
    left: 25%;
    top: 15%;
    animation: moving 5s linear infinite;
    transform-origin: bottom left;
}

@keyframes moving {
    0%,50%,100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }
}

.back-button {
    z-index: 2;
    margin-top: 150px;
    margin-left: 150px;
    display: inline-flex;
}

    .back-button h1 {
        margin: 26px;
        color: #fff;
        cursor: pointer;
        margin-left: -7px;
    }

@keyframes compression {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.back-button img {
    opacity: 0;
    margin-left: -37px;
    margin-top: -17px;
}
