@{
    Layout = "_ErrorLayout";
}

<div class="custom-container">
    <div class="error-block" id="error-block">
        <img class="astronaut" src="~/img/astronaut.png" />
        <h1 class="code">500</h1>
        <h3 class="houston">Houston, we have a problem</h3>
        <h2 class="description">
            Something went wrong
        </h2>
    </div>
    <div class="back-button" id="back-button" onclick="backToMain()">
        <h1 id="desc">Back to Earth</h1>
        <img id="shuttle" src="~/img/space-shuttle.png" />
    </div>
</div>

